@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
    background-color: #0B1619;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #fafafa;
}



    ::-webkit-scrollbar {
        width: 10px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
        border: 1px solid gray
    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

